* {
  box-sizing: border-box;
}

.body-id,
.control-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-div {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: rgba(235, 229, 229, 0.5);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.covered-surface {
  padding: 20px;
  border-radius: 10px;
  transition: opacity 0.5s ease;
}

.covered-surface button {
  width: 100px;
  height: 40px;
  background-color: brown;
  border: none;
  color: rgb(230, 225, 225);
}

.modal-container.show-answer .covered-surface {
  opacity: 0;
}

.question.question-highlighted {
  background-color: #ffff00;
  color: #000000;
}

.modal-content {
  text-align: center;
}

.modal-container button {
  width: 100px;
  height: 40px;
  background-color: brown;
  border: none;
  color: rgb(230, 225, 225);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #caf0f8;
}

header {
  background-color: #03045e;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

#jeopardy-board {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  animation: fadeIn 1s ease-in-out;
}

.category {
  flex: 1;
  max-width: 150px;
  text-align: center;
}

.question {
  background-color: #1451a1;
  opacity: 0.9;
  backdrop-filter: blur(5px);

  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  height: 70px;
  color: #c59d0a;
  font-weight: 900;
  font-size: 20px;
  user-select: none;
}

.question.highlighted {
  background-color: #ffff00;
  /* sad */
  border: 6px solid white;
  transition: border 0.5s ease-in-out;
}
.avatar-transition {
  transition: border 0.5s ease-in-out;
  animation: blink 2s infinite alternate-reverse;
}
@keyframes blink {
  0% {
    border: solid 7px green;
  }

  100% {
    border: solid 2px green;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-clicked {
  border: 6px solid white;
  background-color: black;
  transition: border 0.5s ease-in-out;
}

header :last-child {
  margin: auto;
}

img {
  height: 40px;
  width: 40px;
}

.header-img {
  height: 70px;
  width: 120px;
}

#jeopardy-board:not(.modal-open)
  .question:not(.categoryName, .question-clicked):hover {
  background-color: dimgrey;
  opacity: 0.7;
}

#jeopardy-board.modal-open .question:hover {
  cursor: default;
}

.categoryName {
  background-color: orangered;
  color: #ddd;
  cursor: default;
  font-weight: 500;
  font-size: 25px;
}

.loader-container {
  display: flex;
  justify-content: center;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #333 transparent #333 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.avatar {
  margin: 2px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
